<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>
      TACP Association.org
    </title><!-- favicon -->
    <link href="assets/images/other_images/favicon.png" rel="icon" type=
    "image/png"><!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- vegas bg -->
    <link href="assets/js/vegas/jquery.vegas.min.css" rel="stylesheet">
    <!-- owl carousel css -->
    <link href="assets/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="assets/js/owl-carousel/owl.transitions.css" rel="stylesheet">
    <!-- intro animations -->
    <link href="assets/js/wow/animate.css" rel="stylesheet">
    <!-- font awesome -->
    <link href="assets/css/font-awesome/css/font-awesome.min.css" rel=
    "stylesheet"><!-- lightbox -->
    <link href="assets/js/lightbox/css/lightbox.css" rel="stylesheet">
    <!-- styles for this template -->
    <link href="assets/css/styles.css" rel="stylesheet">
    <!-- place your extra custom styles in this file -->
    <link href="assets/css/custom.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-default-background-img="assets/images/other_images/bg5.jpg"
  data-overlay="true" data-overlay-opacity="0.35">
    <!-- Outer Container -->
    <div id="outer-container">
      <!-- Left Sidebar -->
      <section id="left-sidebar">
        <div class="logo">
          <a class="link-scroll" href="#intro"><img alt="Twilli Air" src=
          "assets/images/other_images/logo.png"></a>
        </div>
        <!-- .logo -->
        <!-- Menu Icon for smaller viewports -->

        <div class="visible-xs" id="mobile-menu-icon" onclick=
        "toggle_main_menu();">
          <span class="glyphicon glyphicon-th"></span>
        </div>

        <ul id="main-menu">
          <li class="menu-item scroll" id="menu-item-text">
            <a href="#text">Home</a>
          </li>

          <li class="menu-item scroll" id="menu-item-about">
            <a href="#about">About</a>
          </li>


          <li class="menu-item scroll" id="menu-item-grid">
            <a href="#grid">Events</a>
          </li>

          <li class="menu-item scroll" id="menu-item-featured">
            <a href="#featured">Our Fallen</a>
          </li>


          <li class="menu-item scroll" id="menu-item-tabs">
            <a href="#tabs">Sponsors</a>
          </li>


          <li class="menu-item scroll" id="menu-item-donations">
            <a href="#donate">donate</a>
          </li>


          <li class="menu-item scroll" id="menu-item-join">
            <a href="#join">Join</a>
          </li>


          <!-- <li class="menu-item scroll" id="menu-item-shop"> -->
          <!--   <a href="#shop">Shop</a> -->
          <!-- </li> -->

        </ul>
        <!-- #main-menu -->
      </section>
      <!-- #left-sidebar -->
      <!-- end: Left Sidebar -->

      <section class="clearfix" id="main-content">
        <article class="section-wrapper clearfix" data-custom-background-img=
        "assets/images/other_images/bg5.jpg" id="intro">
          <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay=
          "0.3s">
            <div class="col-sm-10 col-md-9 pull-right">
              <section class="feature-text">
                <h1>
                  OUR MISSION
                </h1>

                <p>
                  <i>
                    "To Remember the Fallen,<br/>
                    Honor the Living and<br/>
                    Aid Brothers in Need."
                  </i>
                </p>

                <p>
                  <a class="link-scroll btn btn-outline-inverse btn-lg" href="#text">
                    home
                  </a>
                </p>
              </section>
            </div>
            <!-- .col-sm-10 -->
          </div>
          <!-- .content-wrapper -->
        </article>
        <!-- .section-wrapper -->

        <article class="section-wrapper clearfix" data-custom-background-img=
        "assets/images/other_images/bg1.5.jpg" id="text">
          <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay=
          "0.3s">
            <div class="col-sm-8 pull-right text-right">
              <h1 class="section-title">
                Welcome to TACPASSOCIATION<small><sub>.org</sub></small>
              </h1>

              <p class="feature-paragraph"> 
                 Our Mission is to remember our fallen, to honor the living, and to aid  brothers in need. We will promote the brotherhood and camaraderie  amongst the TACP community by sponsoring, coordinating, and assembling  members to celebrate as fellow warriors, and we will serve as an  informational conduit to the community. 
              </p>
  
              <p > 
                <a class="link-scroll btn btn-outline-inverse btn-sm" href="#about" 
                >about</a>
<!-- 
                <a class="link-scroll btn btn-outline-inverse btn-sm" href="#grid" 
                >events</a>
                <a class="link-scroll btn btn-outline-inverse btn-sm" href="#featured" 
                >our fallen</a>

                <a class="link-scroll btn btn-outline-inverse btn-sm" href="#tabs" 
                >sponsors</a>
                <a class="link-scroll btn btn-outline-inverse btn-sm" href="#donate" 
                >donate</a>
                 <a class="link-scroll btn btn-outline-inverse btn-sm" href="#join" 
                >join</a>
                 <a class="link-scroll btn btn-outline-inverse btn-sm" href="#shop" 
                >shop</a> -->
              </p> 
            </div>
            <!-- .col-sm-10 -->
          </div>
          <!-- .content-wrapper -->
        </article>
        <!-- .section-wrapper -->
        {include "about.html"}
        {include "events.html"}
        {include "our_fallen.html"}
        {include "sponsors.html"}
        {include "donate.html"}  
        {include "join.html"}  
        <!-- .section-wrapper -->
      </section>
      <!-- #main-content -->
      <!-- Footer -->

      <section id="footer">
        <!-- Go to Top -->
        <div id="go-to-top" onclick="scroll_to_top();">
          <span class="icon glyphicon glyphicon-chevron-up"></span>
        </div>
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/pages/TACP-Association/253261444872#" target="_blank" title="Facebook">
              <label class="label label-primary">
                <i class="fa fa-facebook fa-2x" style="cursor: pointer"></i>
              </label>
            </a>
          </li>

          <!-- <li> -->
          <!--   <a href="#" target="_blank" title="Twitter"> -->
          <!--     <label class="label label-info"> -->
          <!--       <i class="fa fa-twitter fa-2x" style="cursor: pointer"></i> -->
          <!--     </label> -->
          <!--   </a> -->
          <!-- </li> -->
          <!--  -->
          <!-- <li> -->
          <!--   <a href="#" target="_blank" title="Google+"> -->
          <!--     <label class="label label-danger"> -->
          <!--       <i class="fa fa-google-plus fa-2x" style="cursor: pointer"></i> -->
          <!--     </label> -->
          <!--   </a> -->
          <!-- </li> -->
        </ul>
        <!-- copyright text -->
        <div class="footer-text-line">
          &copy; 2016 TACP Association
        </div>
      </section>
      <!-- end: Footer -->
    </div>
    <!-- #outer-container -->
    <!-- end: Outer Container -->
    <!-- Modal -->
    <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->

    <div aria-hidden="true" class="modal fade" id="common-modal" role="dialog"
    tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <button aria-hidden="true" class="close" data-dismiss="modal" type=
          "button">&times;</button>
          <div class="modal-body clearfix">
          </div>
          <!-- .modal-body -->
        </div>
        <!-- .modal-content -->
      </div>
      <!-- .modal-dialog -->
    </div>
    <!-- .modal --><!-- Javascripts
    ================================================== -->
    <!-- Jquery and Bootstrap JS -->
    <script src=
    "http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script> 
    <script>
    window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')
    </script> 
    <script src="assets/bootstrap/js/bootstrap.min.js">
    </script> <!-- Easing - for transitions and effects -->
     
    <script src="assets/js/jquery.easing.1.3.js">
    </script> <!-- background image strech script -->
     
    <script src="assets/js/vegas/jquery.vegas.min.js">
    </script> <!-- detect mobile browsers -->
     
    <script src="assets/js/detectmobilebrowser.js">
    </script> <!-- detect scrolling -->
     
    <script src="assets/js/jquery.scrollstop.min.js">
    </script> <!-- owl carousel js -->
     
    <script src="assets/js/owl-carousel/owl.carousel.min.js">
    </script> <!-- lightbox js -->
     
    <script src="assets/js/lightbox/js/lightbox.min.js">
    </script> <!-- intro animations -->
     
    <script src="assets/js/wow/wow.min.js">
    </script> <!-- responsive videos -->
     
    <script src="assets/js/jquery.fitvids.js">
    </script> <!-- Custom functions for this theme -->
     
    <script src="assets/js/functions.js">
    </script> 
    <script src="assets/js/initialise-functions.js">
    </script> <!-- IE9 form fields placeholder fix -->
     <!--[if lt IE 9]>
    <script>contact_form_IE9_placeholder_fix();</script>
    <![endif]-->
  </body>
</html>
