<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>
      TACP Association.org
    </title><!-- favicon -->
    <link href="assets/images/other_images/favicon.png" rel="icon" type=
    "image/png"><!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- vegas bg -->
    <link href="assets/js/vegas/jquery.vegas.min.css" rel="stylesheet">
    <!-- owl carousel css -->
    <link href="assets/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="assets/js/owl-carousel/owl.transitions.css" rel="stylesheet">
    <!-- intro animations -->
    <link href="assets/js/wow/animate.css" rel="stylesheet">
    <!-- font awesome -->
    <link href="assets/css/font-awesome/css/font-awesome.min.css" rel=
    "stylesheet"><!-- lightbox -->
    <link href="assets/js/lightbox/css/lightbox.css" rel="stylesheet">
    <!-- styles for this template -->
    <link href="assets/css/styles.css" rel="stylesheet">
    <!-- place your extra custom styles in this file -->
    <link href="assets/css/custom.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-default-background-img="assets/images/other_images/bg5.jpg"
  data-overlay="true" data-overlay-opacity="0.35">
    <!-- Outer Container -->

    <div id="outer-container">
      <!-- Left Sidebar -->

      <section id="left-sidebar">
        <div class="logo">
          <a class="link-scroll" href="#intro"><img alt="Twilli Air" src=
          "assets/images/other_images/logo.png"></a>
        </div>
        <!-- .logo -->
        <!-- Menu Icon for smaller viewports -->

        <div class="visible-xs" id="mobile-menu-icon" onclick=
        "toggle_main_menu();">
          <span class="glyphicon glyphicon-th"></span>
        </div>

        <ul id="main-menu">
          <li class="menu-item scroll" id="menu-item-text">
            <a href="#text">Home</a>
          </li>

          <li class="menu-item scroll" id="menu-item-carousel">
            <a href="#carousel">About</a>
          </li>

          <li class="menu-item scroll" id="menu-item-grid">
            <a href="#grid">Events</a>
          </li>

          <li class="menu-item scroll" id="menu-item-tabs">
            <a href="#tabs">Sponsors</a>
          </li>

          <li class="menu-item scroll" id="menu-item-featured">
            <a href="#featured">Our Fallen</a>
          </li>

          <li class="menu-item scroll" id="menu-item-donations">
            <a href="#dontations">Donations</a>
          </li>

          <li class="menu-item scroll" id="menu-item-contact">
            <a href="#contact">Join</a>
          </li>

          <li class="menu-item scroll" id="menu-item-shop">
            <a href="#shop">Shop</a>
          </li>
        </ul>
        <!-- #main-menu -->
      </section>
      <!-- #left-sidebar -->
      <!-- end: Left Sidebar -->

      <section class="clearfix" id="main-content">
        <article class="section-wrapper clearfix" data-custom-background-img=
        "assets/images/other_images/bg5.jpg" id="intro">
          <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay=
          "0.3s">
            <div class="col-sm-10 col-md-9 pull-right">
              <section class="feature-text">
                <h1>
                  OUR MISSION:
                </h1>

                <p>
                  <i>
                    "To Remember the Fallen,<br/>
                    Honor the Living and<br/>
                    Aid Brothers in Need."
                  </i>
                </p>

                <p>
                  <a class="link-scroll btn btn-outline-inverse btn-lg" href="#text">
                    find out more
                    about TACP Association
                  </a>
                </p>
              </section>
            </div>
            <!-- .col-sm-10 -->
          </div>
          <!-- .content-wrapper -->
        </article>
        <!-- .section-wrapper -->

        <article class="section-wrapper clearfix" data-custom-background-img=
        "assets/images/other_images/bg1.jpg" id="text">
          <div class="content-wrapper clearfix">
            <div class="col-sm-10 col-md-9 pull-right">
              <h1 class="section-title">
                TACP Association 
              </h1>

              <p class="feature-paragraph">
                <img alt="Lorem Ipsum" class="lazy pull-right" data-img-src=
                "assets/images/other_images/transp-image5b.png">Etiam at ligula
                sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae
                dapibus risus imperdiet nec. <a href="#carousel">Suspendisse
                molestie lorem odio</a>, sit amet. Laoreet consequat. Duis
                dictum lorem metus, vitae dapibus.
                rem
              </p>

              <h4>
                Duis dictum lorem metus
              </h4>

              <p>
                Suspendisse molestie lorem odio, sit amet. Duis dictum lorem
                metus, vitae dapibus risus imperdiet nec. Suspendisse molestie
                lorem odio. Etiam scelerisque lacus tempor, rhoncus diam vel,
                gravida felis. Fusce tristique sem et leo. Pellentesque sed
                malesuada turpis. Quisque eget lacus sit amet dui.
              </p>

              <p>
                <a class="btn btn-outline-inverse btn-sm" href="" onclick=
                "populate_and_open_modal(event, 'modal-content-1');">read
                more</a>
              </p>

              <div class="content-to-populate-in-modal" id="modal-content-1">
                <h1>
                  Lorem Ipsum
                </h1>

                <p>
                  <img alt="Lorem Ipsum" class=
                  "lazy rounded_border hover_effect pull-right" data-img-src=
                  "assets/images/other_images/transp-image4.png">Lorem ipsum
                  dolor sit amet, consectetur adipiscing elit. Sed in urna vel
                  ante mollis tincidunt. Donec nec magna condimentum tortor
                  laoreet lobortis. Nunc accumsan sapien eu tortor fringilla,
                  et condimentum metus pellentesque. Maecenas rhoncus tortor
                  nec mi congue aliquet. Integer eu turpis scelerisque, iaculis
                  magna non, tempor sem. Quisque consectetur nisi eu felis
                  euismod, sit amet faucibus justo molestie. Ut pretium sapien
                  dui, id facilisis metus interdum pharetra.
                </p>

                <p>
                  Etiam scelerisque lacus tempor, rhoncus diam vel, gravida
                  felis. Fusce tristique sem et leo aliquam vulputate. Ut eget
                  orci in sapien commodo fringilla. Ut luctus faucibus viverra.
                  Quisque ut ante eget libero rutrum imperdiet. Morbi in diam
                  bibendum, venenatis arcu sed, consequat libero. Nulla
                  imperdiet, ipsum et adipiscing pulvinar, nibh metus porta
                  mauris, et vestibulum dolor sapien sit amet justo. In
                  dignissim leo nec erat faucibus volutpat.
                </p>

                <h3>
                  Duis dictum lorem metus, vitae dapibus
                </h3>

                <p>
                  <img alt="Lorem Ipsum" class=
                  "lazy rounded_border hover_effect pull-left" data-img-src=
                  "assets/images/other_images/transp-image3.png">Sed auctor
                  urna mi, sed fringilla felis vulputate nec. Cras eu nibh id
                  quam pretium convallis. Donec ante enim, placerat nec
                  sagittis sit amet, tempor in velit. Maecenas ultricies
                  commodo lacus id porta. Suspendisse eros elit, lacinia vitae
                  erat vitae, egestas accumsan nunc. Maecenas dictum odio
                  ipsum, non volutpat erat consequat tempor. Pellentesque sed
                  malesuada turpis. Quisque eget lacus sit amet dui feugiat
                  molestie sit amet eget purus. Morbi eget neque nec lectus
                  tempus sagittis nec at ante.
                </p>

                <p>
                  Etiam scelerisque lacus tempor, rhoncus diam vel, gravida
                  felis. Fusce tristique sem et leo aliquam vulputate. Ut eget
                  orci in sapien commodo fringilla. Ut luctus faucibus viverra.
                  Quisque ut ante eget libero rutrum imperdiet. Morbi in diam
                  bibendum, venenatis arcu sed, consequat libero. Nulla
                  imperdiet, ipsum et adipiscing pulvinar, nibh metus porta
                  mauris, et vestibulum dolor sapien sit amet justo. In
                  dignissim leo nec erat faucibus volutpat.
                </p>
              </div>
              <!-- #modal-content-1 -->
            </div>
            <!-- .col-sm-10 -->
          </div>
          <!-- .content-wrapper -->
        </article>
        <!-- .section-wrapper -->

        <article class="section-wrapper clearfix" data-custom-background-img=
        "assets/images/other_images/bg6.jpg" id="carousel">
          <div class="content-wrapper clearfix">
            <div class="carousel slide with-title-indicators max-height"
            data-height-percent="70" data-ride="carousel" id=
            "features-carousel">
              <!-- Indicators - slide navigation -->

              <ol class="carousel-indicators title-indicators">
                <li class="active" data-slide-to="0" data-target=
                "#features-carousel">
                About TACP 
                </li>

                <li data-slide-to="1" data-target="#features-carousel">
                  The Association 
                </li>


                <li data-slide-to="2" data-target="#features-carousel">
                 Board of Directors  
                </li>
              </ol>
              <!-- Wrapper for slides -->

              <div class="carousel-inner">
                <div class="item active">
                  <div class="carousel-text-content">
                    <img alt="Lorem Ipsum" class="icon" src=
                    "assets/images/other_images/transp-image1.png">
                    <h2 class="title">
                      About TACP
                    </h2>

                    <p>
                    A <b>Tactical Air Control Party</b>, commonly abbreviated <b><u>TACP</u></b>, 
                    usually consists of a team of two or more 
                    United States Air Force Tactical Air Controllers...
                    </p>

                    <p>
                      <a class="btn btn-outline-inverse btn-sm" href=""
                      onclick="populate_and_open_modal(event, 'modal-content-2');">
                      read more</a>
                    </p>

                    <div class="content-to-populate-in-modal" id=
                    "modal-content-2">
                      <h1>
                        About TACP
                      </h1>

                      <p>
                        <img alt="Lorem Ipsum" class=
                        "lazy rounded_border hover_effect pull-right"
                        data-img-src=
                        "assets/images/other_images/Horse-Patrol-John-Making-Comms2.jpg">
                      </p>

                      <p class="text-left">
                        A Tactical Air Control Party, commonly abbreviated TACP, usually consists of a team of two or more United States Air Force Tactical Air Controllers. It sometimes includes an Air Liaison Officer, who is assigned to a U.S. Army combat maneuver unit. TACPs advise ground commanders on the best use of air power. They also establish and maintain command and control communications, control air traffic and naval gunfire and provide precision terminal attack guidance of U.S. and coalition close air support. The career fields first test came during the Korean War and since then TACP’s have deployed and served this country in every single engagement. TACP’s were in Vietnam, Grenada, Panama, Kosovo, Somalia, Iraq, Afghanistan and other operations around the world.
                      </p>
                    </div>
                    <!-- #modal-content-2 -->
                  </div>
                </div>
                <!-- .item -->

                <div class="item">
                  <div class="carousel-text-content">
                    <img alt="Lorem Ipsum" class="icon" src=
                    "assets/images/other_images/transp-image3.png">
                    <h2 class="title">
                      The Association
                    </h2>

                    <p>
                      Our Mission is to remember our fallen, to honor the living, and to aid  brothers in need. We will promote the brotherhood and camaraderie  amongst the TACP community by sponsoring, coordinating, and assembling  members to celebrate as fellow warriors, and we will serve as an  informational conduit to the community.
                    </p>

                    <p>
                      <a class="btn btn-outline-inverse btn-sm" href=""
                      onclick="populate_and_open_modal(event, 'modal-content-3');">
                      read more</a>
                    </p>

                    <div class="content-to-populate-in-modal" id=
                    "modal-content-3">
                      <h1>
                        The Association
                      </h1>


                      <p>
                      Our Mission is to remember our fallen, to honor the living, and to aid  brothers in need. We will promote the brotherhood and camaraderie  amongst the TACP community by sponsoring, coordinating, and assembling  members to celebrate as fellow warriors, and we will serve as an  informational conduit to the community.
                      A TACP Association has existed for over 15 years. The new TACP Association was formed at the tail end of 2009. The vision and the focus of the members changed; becoming one of helping not only our past and present brothers in arms, but also the communities in which we live. Our community of warriors is small, and TACP has always been one of the smallest careers in the entire scope of the Armed Services. It is that small size that has created that camaraderie upon which our Association is based.

The fundamental goal of our organization is to provide support to those members and families in their moment of need and to better the communities in which we reside.
                      </p>
                      <p>
                        <img alt="Lorem Ipsum" class=
                        "lazy rounded_border hover_effect"
                        data-img-src=
                        "assets/images/other_images/TACP1.jpg">
                      </p>
                    </div>
                    <!-- #modal-content-3 -->
                  </div>
                </div>
                <!-- .item -->

                <div class="item">
                  <div class="carousel-text-content">
                    <img alt="Lorem Ipsum" class="icon" src=
                    "assets/images/other_images/transp-image7.png">
                    <h2 class="title">
                        Board of Directors
                    </h2>

                    <p>
                      <ul> 
                        <li>Charlie Keebaugh</li>
                        <li>CMSgt Troy Lundquist</li>
                        <li>Jason Wallace</li>
                        <li>Jason Zoglmann</li>
                        <li>Mike Bowman</li>
                        <li>Buddy McArthur</li>
                        <li>SMSgt Eric Rankin</li>
                        <li>Jarred Taylor</li>
                        <li>Dan Waugh</li>
                      </ul>
                    </p>

                    <p>
                      <a class="btn btn-outline-inverse btn-sm" href=""
                      onclick="populate_and_open_modal(event, 'modal-content-4');">
                      more
                      </a>
                    </p>

                    <div class="content-to-populate-in-modal" id=
                    "modal-content-4">
                      <h1>
                      </h1>

                      <p>
                        <img alt="Lorem Ipsum" class=
                        "lazy rounded_border hover_effect"
                        data-img-src=
                        "assets/images/other_images/board.jpg">
                      </p>

                      <p>
                        <h4>President</h4>
                        <ul>
                        <li>Charlie Keebaugh</li>
                        </ul>
                        <h4>Vice President</h4>
                        <ul>
                        <li>CMSgt Troy Lundquist</li>
                        </ul>
                        <h4>Board of Directors</h4>
                        <ul>
                        <li>Jason Wallace</li>
                        <li>Jason Zoglmann</li>
                        <li>Mike Bowman</li>
                        <li>Buddy McArthur</li>
                        <li>SMSgt Eric Rankin</li>
                        <li>Jarred Taylor</li>
                        <li>Dan Waugh</li>
                        </ul>
                      </p>
                    </div>
                    <!-- #modal-content-4 -->
                  </div>
                </div>
                <!-- .item -->

              </div>
              <!-- .carousel-inner -->
              <!-- Controls -->
              <a class="left carousel-control" data-slide="prev" href=
              "#features-carousel"></a> <a class="right carousel-control"
              data-slide="next" href="#features-carousel"></a>
            </div>
            <!-- #about-carousel -->
          </div>
          <!-- .content-wrapper -->
        </article>
        <!-- .section-wrapper -->

        <article class="section-wrapper clearfix" data-custom-background-img=
        "assets/images/other_images/bg2.jpg" id="grid">
          <div class="content-wrapper clearfix">
            <div class="col-sm-11 col-md-10 pull-right">
              <h1 class="section-title">
                Events
              </h1>
              <!-- grid -->

              <section class="grid row clearfix clearfix-for-2cols">
                <!-- grid item -->

                <div class="grid-item col-md-6">
                  <div class="item-content clearfix">
                    <span class="icon fa fa-area-chart"></span>
                    <div class="text-content">
                      <h5>
                        Lorem ipsum dolor sit amet
                      </h5>

                      <p>
                        Nullam ac rhoncus sapien, non gravida purus. Aliquam
                        adipiscing eros non elit imperdiet congue. Integer
                        ultricies.
                      </p>
                    </div>
                  </div>
                  <!-- end: .item-content -->
                </div>
                <!-- end: .grid-item -->
                <!-- grid item -->

                <div class="grid-item col-md-6">
                  <div class="item-content clearfix">
                    <span class="icon fa fa-globe"></span>
                    <div class="text-content">
                      <h5>
                        Aliquam adipiscing eros non elit
                      </h5>

                      <p>
                        Nullam ac rhoncus sapien, non gravida purus. Alinon
                        elit imperdiet congue. Integer ultricies sed ligula
                        eget tempus.
                      </p>
                    </div>
                  </div>
                  <!-- end: .item-content -->
                </div>
                <!-- end: .grid-item -->
                <!-- grid item -->

                <div class="grid-item col-md-6">
                  <div class="item-content clearfix">
                    <span class="icon fa fa-certificate"></span>
                    <div class="text-content">
                      <h5>
                        Integer ultricies sed ligula
                      </h5>

                      <p>
                        Aliquam adipiscing eros non elit imperdiet congue.
                        Integer ultricies sed ligula ligula eget.
                      </p>
                    </div>
                  </div>
                  <!-- end: .item-content -->
                </div>
                <!-- end: .grid-item -->
                <!-- grid item -->

                <div class="grid-item col-md-6">
                  <div class="item-content clearfix">
                    <span class="icon fa fa-cloud"></span>
                    <div class="text-content">
                      <h5>
                        Lorem ipsum dolor sit amet
                      </h5>

                      <p>
                        Nullam ac rhoncus. Aliquam adipiscing eros non elit
                        imperdiet congue. Integer ultricies sed ligula eget
                        tempus.
                      </p>
                    </div>
                  </div>
                  <!-- end: .item-content -->
                </div>
                <!-- end: .grid-item -->
              </section>
              <!-- end: grid -->
            </div>
            <!-- .col-sm-11 -->
          </div>
          <!-- .content-wrapper -->
        </article>
        <!-- .section-wrapper -->

        <article class="section-wrapper clearfix" data-custom-background-img=
        "assets/images/other_images/bg3.jpg" id="featured">
          <div class="content-wrapper clearfix">
            <div class="col-sm-11 pull-right">
              <h1 class="section-title">
                Our Fallen
              </h1>
              <!-- feature columns -->

              <section class="feature-columns row clearfix">
                {foreach $fallen as $k => $x}
                  {if $k|is_numeric}
                  <article class="col-sm-3">
                    <a class="thumbnail linked" href="" onclick=
                    "populate_and_open_modal(event, 'modal-content-fallen{$k}');">
                      <div class="image-container">
                        <img alt="{$x.name}" class="lazy item-thumbnail"
                        data-img-src="assets/images/our_fallen/{$x.picture}" >
                      </div>

                      <div class="caption">
                        <h5>
                          {$x.name}
                        </h5>

                        <p>
                          {$x.kitkia}
                          <br/>
                          {$x.dday}
                        </p>
                      </div>
                    </a>
                    <div class="content-to-populate-in-modal" id=
                    "modal-content-fallen{$k}">
                      <img alt="{$x.name}" class="lazy rounded_border hover_effect "
                      data-img-src="assets/images/our_fallen/{$x.picture}">
                      <h1>
                        {$x.name}
                      <br/>
                        <small>
                        {$x.kitkia} - {$x.dday}  
                        </small>
                      </h1>

                      <p>
                        {$x.desc}
                      </p>
                    </div>
                    <!-- #modal-content-fallen{$k} -->
                  </article>
                  {/if} 
                {/foreach} 

                <article class="feature-col col-md-4">
                  <a class="thumbnail linked" href="" onclick=
                  "populate_and_open_modal(event, 'modal-content-6');">
                  <div class="image-container">
                    <img alt="Lorem Ipsum" class="lazy item-thumbnail"
                    data-img-src="assets/images/other_images/project-3.jpg">
                  </div>

                  <div class="caption">
                    <h5>
                      Image Carousel
                    </h5>

                    <p>
                      This feature contains an image carousel when you open
                      popup.
                    </p>
                  </div>
                  <!-- .caption --></a><!-- .thumbnail -->

                  <div class="content-to-populate-in-modal" id=
                  "modal-content-6">
                    <h1>
                      Sed scelerisque
                    </h1>

                    <p>
                      Nullam ac rhoncus. Aliquam adipiscing eros non elit
                      imperdiet congue. Etiam at ligula sit amet arcu laoreet
                      consequat.<br>
                    </p>
                    <!-- image slider inside popup -->

                    <div class="owl-carousel popup-image-gallery" id=
                    "unique-id-for-image-slider">
                      <!-- slide -->

                      <div>
                        <!-- caption is optional. To remove it, remove the <h6> below -->

                        <h6 class="caption">
                          Caption for Image 1
                        </h6>
                        <img class="lazyOwl" data-src=
                        "assets/images/other_images/bg1.jpg">
                      </div>
                      <!-- slide -->

                      <div>
                        <h6 class="caption">
                          Caption for Image 2
                        </h6>
                        <img class="lazyOwl" data-src=
                        "assets/images/other_images/bg2.jpg">
                      </div>
                      <!-- slide -->

                      <div>
                        <h6 class="caption">
                          Caption for Image 3
                        </h6>
                        <img class="lazyOwl" data-src=
                        "assets/images/other_images/bg3.jpg">
                      </div>
                    </div>
                  </div>
                  <!-- #modal-content-6 -->
                </article>
                <!-- feature 2 -->

                <article class="feature-col col-md-4">
                  <a class="thumbnail linked" href="" onclick=
                  "populate_and_open_modal(event, 'modal-content-7');">
                  <div class="image-container">
                    <img alt="Lorem Ipsum" class="lazy item-thumbnail"
                    data-img-src="assets/images/other_images/project-2.jpg">
                  </div>

                  <div class="caption">
                    <h5>
                      Text popup
                    </h5>

                    <p>
                      This feature contains generic image and text content when
                      you open popup.
                    </p>
                  </div>
                  <!-- .caption --></a><!-- .thumbnail -->

                  <div class="content-to-populate-in-modal" id=
                  "modal-content-7">
                    <img alt="Lorem Ipsum" class="lazy full-width"
                    data-img-src="assets/images/other_images/top-image2.jpg">
                    <h1>
                      Sed scelerisque
                    </h1>

                    <p>
                      Nullam ac rhoncus. Aliquam adipiscing eros non elit
                      imperdiet congue. Etiam at ligula sit amet arcu laoreet
                      consequat. Duis dictum lorem metus, vitae dapibus risus
                      imperdiet nec. Suspendisse molestie lorem odio, sit amet.
                    </p>

                    <p>
                      Laoreet consequat. Duis dictum lorem metus, vitae dapibus
                      risus imperdiet nec. Suspendisse molestie lorem odio, sit
                      amet.
                    </p>

                    <p>
                      Suspendisse molestie lorem odio, sit amet. Duis dictum
                      lorem metus, vitae dapibus risus imperdiet nec.
                      Suspendisse molestie lorem odio test.
                    </p>
                  </div>
                  <!-- #modal-content-7 -->
                </article>
                <!-- feature 3 -->

                <article class="feature-col col-md-4">
                  <a class="thumbnail linked" href="" onclick=
                  "populate_and_open_modal(event, 'modal-content-8', '', 'full-size');">
                  <div class="image-container">
                    <img alt="Lorem Ipsum" class="lazy item-thumbnail"
                    data-img-src="assets/images/other_images/project-4.jpg">
                  </div>

                  <div class="caption">
                    <h5>
                      Alternate Gallery
                    </h5>

                    <p>
                      Inside this feature's popup you'll find an alternative
                      version of an image gallery.
                    </p>
                  </div>
                  <!-- .caption --></a><!-- .thumbnail -->

                  <div class="content-to-populate-in-modal" id=
                  "modal-content-8">
                    <h1>
                      Sed scelerisque
                    </h1>

                    <p>
                      Nullam ac rhoncus. Aliquam adipiscing eros non elit
                      imperdiet congue. Etiam at ligula sit amet arcu laoreet
                      consequat. Duis dictum lorem metus, vitae dapibus risus
                      imperdiet nec. Suspendisse molestie lorem odio, sit amet.
                      Adipiscing eros non elit imperdiet congue tiam at ligula
                      sit amet arcu.
                    </p>
                    <!-- alt image slider inside popup -->

                    <div class="owl-carousel popup-alt-image-gallery" id=
                    "unique-id-for-alt-image-slider">
                      <div class="item">
                        <a data-lightbox="popup-alt-gallery" href=
                        "assets/images/other_images/bg1.jpg"><img class=
                        "lazyOwl" data-src=
                        "assets/images/other_images/gallery-thumb-1.jpg"></a>
                      </div>

                      <div class="item">
                        <a data-lightbox="popup-alt-gallery" href=
                        "assets/images/other_images/bg2.jpg"><img class=
                        "lazyOwl" data-src=
                        "assets/images/other_images/gallery-thumb-2.jpg"></a>
                      </div>

                      <div class="item">
                        <a data-lightbox="popup-alt-gallery" href=
                        "assets/images/other_images/bg3.jpg"><img class=
                        "lazyOwl" data-src=
                        "assets/images/other_images/gallery-thumb-3.jpg"></a>
                      </div>

                      <div class="item">
                        <a data-lightbox="popup-alt-gallery" href=
                        "assets/images/other_images/bg4.jpg"><img class=
                        "lazyOwl" data-src=
                        "assets/images/other_images/gallery-thumb-4.jpg"></a>
                      </div>

                      <div class="item">
                        <a data-lightbox="popup-alt-gallery" href=
                        "assets/images/other_images/bg5.jpg"><img class=
                        "lazyOwl" data-src=
                        "assets/images/other_images/gallery-thumb-5.jpg"></a>
                      </div>

                      <div class="item">
                        <a data-lightbox="popup-alt-gallery" href=
                        "assets/images/other_images/bg6.jpg"><img class=
                        "lazyOwl" data-src=
                        "assets/images/other_images/gallery-thumb-6.jpg"></a>
                      </div>

                      <div class="item">
                        <a data-lightbox="popup-alt-gallery" href=
                        "assets/images/other_images/bg2.jpg"><img class=
                        "lazyOwl" data-src=
                        "assets/images/other_images/gallery-thumb-2.jpg"></a>
                      </div>

                      <div class="item">
                        <a data-lightbox="popup-alt-gallery" href=
                        "assets/images/other_images/bg3.jpg"><img class=
                        "lazyOwl" data-src=
                        "assets/images/other_images/gallery-thumb-3.jpg"></a>
                      </div>
                    </div>
                  </div>
                  <!-- #modal-content-8 -->
                </article>
              </section>
              <!-- end: .feature-columns -->
              <!-- End: Section content to edit -->
            </div>
            <!-- .col-sm-10 -->
          </div>
          <!-- .content-wrapper -->
        </article>
        <!-- .section-wrapper -->

        <article class="section-wrapper clearfix" data-custom-background-img=
        "assets/images/other_images/bg7.jpg" id="tabs">
          <div class="content-wrapper mid-vertical-positioning clearfix">
            <div class="col-sm-10 col-md-9 pull-right">
              <h1 class="section-title">
                Sponsors
              </h1>

              <div class="tabpanel styled-tabs uniform-height" role="tabpanel">
                <!-- Nav tabs -->

                <ul class="nav nav-tabs" role="tablist">
                  <li class="active" role="presentation">
                    <a aria-controls="tabs-tab1" data-toggle="tab" href=
                    "#tabs-tab1" role="tab"><i class=
                    "icon fa fa-diamond"></i><span>Donec</span></a>
                  </li>

                  <li role="presentation">
                    <a aria-controls="tabs-tab2" data-toggle="tab" href=
                    "#tabs-tab2" role="tab"><i class=
                    "icon fa fa-train"></i><span>Maecenas</span></a>
                  </li>

                  <li role="presentation">
                    <a aria-controls="tabs-tab3" data-toggle="tab" href=
                    "#tabs-tab3" role="tab"><i class=
                    "icon fa fa-coffee"></i><span>Iaculis</span></a>
                  </li>

                  <li role="presentation">
                    <a aria-controls="tabs-tab4" data-toggle="tab" href=
                    "#tabs-tab4" role="tab"><i class=
                    "icon fa fa-comment"></i><span>Quisque</span></a>
                  </li>
                </ul>
                <!-- Tab panes -->

                <div class="tab-content">
                  <div class="tab-pane fade in active" id="tabs-tab1" role=
                  "tabpanel">
                    <img class="pull-right hidden-xs" src=
                    "assets/images/other_images/tabs-icon4.png">
                    <h4>
                      Donec nec magna condimentum
                    </h4>

                    <p>
                      Uspendisse molestie lorem odio, sit amet. Duis dictum
                      lorem metus, vitae dapibus risus imperdiet nec.
                      Suspendisse molestie lorem odio. Etiam scelerisque lacus
                      tempor, rhoncus diam vel, gravida felis. Fusce tristique
                      sem et leo. Pellentesque sed malesuada turpis. Quisque
                      eget lacus sit amet dui.
                    </p>

                    <p>
                      Ut pretium sapien dui, id facilisis metus interdum
                      pharetra. Totam rem aperiam, eaque ipsa quae ab illo
                      inventore.
                    </p>
                  </div>

                  <div class="tab-pane fade" id="tabs-tab2" role="tabpanel">
                    <img class="pull-right hidden-xs" src=
                    "assets/images/other_images/tabs-icon3.png">
                    <h4>
                      Maecenas rhoncus tortor nec mi congue
                    </h4>

                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit
                      voluptatem accusantium doloremque laudantium, totam rem
                      aperiam, eaque ipsa quae ab illo inventore veritatis et
                      quasi architecto beatae vitae dicta sunt explicabo. Ut
                      enim ad minima veniam, quis nostrum exercitationem ullam
                      corporis. Duis dictum lorem metus, vitae dapibus risus
                      imperdiet nec. Suspendisse molestie lorem odio.
                    </p>
                  </div>

                  <div class="tab-pane fade" id="tabs-tab3" role="tabpanel">
                    <img class="pull-right hidden-xs" src=
                    "assets/images/other_images/tabs-icon2.png">
                    <h4>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </h4>

                    <p>
                      Nunc accumsan sapien eu tortor fringilla, et condimentum
                      metus pellentesque. Maecenas rhoncus tortor nec mi congue
                      aliquet. Integer eu turpis scelerisque, iaculis magna
                      non, tempor sem. Quisque consectetur nisi eu felis
                      euismod, sit amet faucibus justo molestie. Ut pretium
                      sapien dui, id facilisis metus interdum pharetra.
                    </p>
                  </div>

                  <div class="tab-pane fade" id="tabs-tab4" role="tabpanel">
                    <img class="pull-right hidden-xs" src=
                    "assets/images/other_images/tabs-icon1.png">
                    <h4>
                      Quisque consectetur nisi
                    </h4>

                    <p>
                      Etiam scelerisque lacus tempor, rhoncus diam vel, gravida
                      felis. Fusce tristique sem et leo aliquam vulputate. Ut
                      eget orci in sapien commodo fringilla. Maecenas rhoncus
                      tortor nec mi congue aliquet. Integer eu turpis
                      scelerisque, iaculis magna non, tempor sem.
                    </p>

                    <p>
                      Integer eu turpis scelerisque, iaculis magna non.
                    </p>
                  </div>
                </div>
                <!-- .tab-content -->
              </div>
              <!-- .tabpanel -->
            </div>
            <!-- .col-sm-10 -->
          </div>
          <!-- .content-wrapper -->
        </article>
        <!-- .section-wrapper -->
        <article class="section-wrapper clearfix" data-custom-background-img=
        "assets/images/other_images/bg4.jpg" id="contact">
          <div class="content-wrapper clearfix">
            <h1 class="section-title">
              Contact
            </h1>
            <!-- CONTACT DETAILS -->

            <div class="contact-details col-sm-5 col-md-3">
              <p>
                123A,<br>
                Molestie Lorem Avenue,<br>
                Aliquam<br>
                AAA0010
              </p>

              <p>
                Tel: (+20) 21 301 524
              </p>

              <p>
                <a href="mailto:info@loremipsum.com">info@loremipsum.com</a>
              </p>
            </div>
            <!-- END: CONTACT DETAILS -->
            <!-- CONTACT FORM -->

            <div class="col-sm-7 col-md-9">
              <!-- IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to -->

              <form action="assets/php/mail.php" class=
              "form-style validate-form clearfix" method="post" role="form">
                <!-- form left col -->

                <div class="col-md-6">
                  <div class="form-group">
                    <input class=
                    "text-field form-control validate-field required"
                    data-validation-type="string" id="form-name" name="name"
                    placeholder="Full Name" type="text">
                  </div>

                  <div class="form-group">
                    <input class=
                    "text-field form-control validate-field required"
                    data-validation-type="email" id="form-email" name="email"
                    placeholder="Email Address" type="email">
                  </div>

                  <div class="form-group">
                    <input class="text-field form-control validate-field phone"
                    data-validation-type="phone" id="form-contact-number" name=
                    "contact_number" placeholder="Contact Number" type="tel">
                  </div>

                  <div class="form-group text-right">
                    <img id="form-captcha-img" src=
                    "assets/php/form_captcha/captcha_img.php"> <input class=
                    "text-field form-control validate-field required"
                    data-validation-type="captcha" id="form-captcha" name=
                    "captcha" placeholder="Enter text" type="text">
                    <span class="fa fa-refresh" id="form-captcha-refresh"
                    title="Reload"></span>
                  </div>
                </div>
                <!-- end: form left col -->
                <!-- form right col -->

                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control validate-field required"
                    name="message" placeholder="Message...">
                    </textarea>
                  </div>

                  <div class="form-group">
                    <img class="form-loader" src=
                    "assets/images/theme_images/loader-form.GIF">
                    <button class="btn btn-sm btn-outline-inverse" type=
                    "submit">Submit</button>
                  </div>

                  <div class="form-group form-general-error-container">
                  </div>
                </div>
                <!-- end: form right col -->
              </form>
            </div>
            <!-- end: CONTACT FORM -->
          </div>
          <!-- .content-wrapper -->
        </article>
        <!-- .section-wrapper -->
      </section>
      <!-- #main-content -->
      <!-- Footer -->

      <section id="footer">
        <!-- Go to Top -->

        <div id="go-to-top" onclick="scroll_to_top();">
          <span class="icon glyphicon glyphicon-chevron-up"></span>
        </div>

        <ul class="social-icons">
          <li>
            <a href="#" target="_blank" title="Facebook"><img alt="Facebook"
            src="assets/images/theme_images/social_icons/facebook.png"></a>
          </li>

          <li>
            <a href="#" target="_blank" title="Twitter"><img alt="Twitter" src=
            "assets/images/theme_images/social_icons/twitter.png"></a>
          </li>

          <li>
            <a href="#" target="_blank" title="Google+"><img alt="Google+" src=
            "assets/images/theme_images/social_icons/googleplus.png"></a>
          </li>
        </ul>
        <!-- copyright text -->

        <div class="footer-text-line">
          &copy; 2016 TACP Association
        </div>
      </section>
      <!-- end: Footer -->
    </div>
    <!-- #outer-container -->
    <!-- end: Outer Container -->
    <!-- Modal -->
    <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->

    <div aria-hidden="true" class="modal fade" id="common-modal" role="dialog"
    tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <button aria-hidden="true" class="close" data-dismiss="modal" type=
          "button">&times;</button>
          <div class="modal-body clearfix">
          </div>
          <!-- .modal-body -->
        </div>
        <!-- .modal-content -->
      </div>
      <!-- .modal-dialog -->
    </div>
    <!-- .modal --><!-- Javascripts
    ================================================== -->
    <!-- Jquery and Bootstrap JS -->
    <script src=
    "http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script> 
    <script>
    window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')
    </script> 
    <script src="assets/bootstrap/js/bootstrap.min.js">
    </script> <!-- Easing - for transitions and effects -->
     
    <script src="assets/js/jquery.easing.1.3.js">
    </script> <!-- background image strech script -->
     
    <script src="assets/js/vegas/jquery.vegas.min.js">
    </script> <!-- detect mobile browsers -->
     
    <script src="assets/js/detectmobilebrowser.js">
    </script> <!-- detect scrolling -->
     
    <script src="assets/js/jquery.scrollstop.min.js">
    </script> <!-- owl carousel js -->
     
    <script src="assets/js/owl-carousel/owl.carousel.min.js">
    </script> <!-- lightbox js -->
     
    <script src="assets/js/lightbox/js/lightbox.min.js">
    </script> <!-- intro animations -->
     
    <script src="assets/js/wow/wow.min.js">
    </script> <!-- responsive videos -->
     
    <script src="assets/js/jquery.fitvids.js">
    </script> <!-- Custom functions for this theme -->
     
    <script src="assets/js/functions.js">
    </script> 
    <script src="assets/js/initialise-functions.js">
    </script> <!-- IE9 form fields placeholder fix -->
     <!--[if lt IE 9]>
    <script>contact_form_IE9_placeholder_fix();</script>
    <![endif]-->
  </body>
</html>
